[Unit]
Description=Backup DNS Services
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=root
ExecStart=/root/master_backup.sh

[Install]
WantedBy=multi-user.target